---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 28px/1.1 serif;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.8;
  margin: 1.1em 0 16px;
  padding: 0;

  @include mobile {
    line-height: 1.6;
  }
}

h1 {
  font-size: 36px;
  a {
    color: inherit;
  }
}

.page > h1, h1.inner-title {
  font-size: 48px;
  font-family: $georgia;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 26px;
  color: $gray;
}

p {
  margin: 17px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 17px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
    margin: 0 auto;
    display: block;
}

// For centering embedded tweets
.twitter-tweet {
  margin: 0 auto;
  display: block;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 5px;
  }

  img {
    border-radius: 5px;
    
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 34px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 20px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 24px;

  @include mobile {
    float: none;
    margin-top: 9px;
      
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;       
  }

  a {
    margin-left: 20px;
    color: $blue;
    text-align: right;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 6px;
    border: 2px solid $blue;
    border-radius: 4px;
      
    &:hover, &:active {
        color: white;
        background-color: $blue;
        transition: color 0.2s ease;
    }

    @include mobile {
      margin: 5px 10px;
      color: $blue;
    }
  }
}

//
// pagination
//

.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination a, .pagination span {
  padding: 6px 18px;
  border: 2px solid $blue;
  border-radius: 4px;
  margin: 4px;
  margin-left: -2px;
  margin-right: -2px;
  display: inline-block;
  letter-spacing: 4px;
  font-weight: bold;
}

.pagination a {    
  &:hover {
      background-color: $blue;
      color: white;
      transition: color 0.2s ease;
  }
}

//
// .main
//

.posts > .post {
  border: 1px solid #000000;
  border-radius: 4px;
  margin: 22px 0px;
  padding: 16px 8px;
  background-color: ghostwhite;
}

.post-title > h1 {
  margin-top: 0px;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    font-size: 26px;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 16px;
    padding: 12px;
    border: 2px solid;
    border-radius: 4px;
    font-weight: bold;

    &:hover, &:active {
      color: white;
      background-color: $blue;
      border-color: $blue;
      transition: color 0.2s ease;
    }  
  }
}

.wrapper-footer {
  margin-top: 50px;
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
